.image{
    width: 500px;
    height: 350px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./bg2.avif');
    background-position: center;
    background-size: cover;
    transform: translate(40%,30%);
    top: 30%;
    left: 50%;
    border-radius: 30px;
  
}
.image p{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 26px;
    color: rgba(3, 3, 3, 0.9);

}
.image:hover{
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0.9) inset;
    cursor: pointer;
}
.image:hover p{
    opacity: 1;
    transform: scale(1);
    
}
#inf{
    margin-top: 200px;
    opacity: 0.6;
    /* text-align: end; */
    
}
button{
    background-color: rgb(159, 188, 245);
    border: 1px solid rgb(249, 242, 242);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 70%;
    padding: 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
  
  }
  button:hover{
    display: block;
    filter: drop-shadow(10px 10px 10px #492ceb);
    cursor: pointer;
  }
body{
    background-color:rgb(172, 168, 168);
}
